*, *::before, *::after {
  box-sizing: border-box;
  font-family: Gotham Rounded, sans-serif;
  font-weight: normal;
}

.page__wrapper {
  display: flex;
  justify-content: center;
  width: 1024px;
  margin: 0 auto;
  align-items: center;
  column-gap: 2rem;
}

body {
  padding: 0;
  margin: 0;
  background: url(images/bg.jpg) no-repeat;
  /*
  background: linear-gradient(to right, #00AAFF, #00FF6C); */
}

.calculator-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(5, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator-grid > button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid white;
  outline: none;
  background-color: rgba(255, 255, 255, .75);
}

.calculator-grid > button:hover {
  background-color: rgba(255, 255, 255, .9);
}

.output {
  grid-column: 1 / -1;
  background-color: rgba(0, 0, 0, .75);
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
}

.output .previous-operand {
  color: rgba(255, 255, 255, .75);
  font-size: 1.5rem;
}

.output .current-operand {
  color: white;
  font-size: 2.5rem;
}

.all-clear {
  grid-row: 2 / -1 ;
}


.modal {
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  background-color:  rgba(255, 255, 255, 1);
  position: fixed;
  top: 0;
  left: 0;
}

.modal__wrapper {
  max-width: 1024px;
  margin: 0 auto;
  margin-top: 8vh;
  border: 2px solid #000000;
  padding: 0.3rem;
}


.modal h2 {
  text-align: center;
}
.close__button, .instruction {
  display: block;
  margin: 0;
  padding: 0;
  margin: 0 auto;
  margin-top: 2.5rem;
  
  border: none;
  border-radius: 9%;
  cursor: pointer;
  outline: none;
 margin-bottom: 1rem;
 padding: 0.7rem;
}

.undisplayed {
  display: none;
}