* {
font-size: 14px;
box-sizing: border-box;
margin: 0;
padding: 0;
font-family: Roboto, sans-serif;
font-weight: normal;
}

body {
    width: 1600px;
}

.visually-hidden{
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.wrapper {
    width: 100%;
    height: 744px;
    background-image: url("../images/promo-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.active {
    border-bottom: 1px solid #ffffff;
}

.main-content .wrapper {
    background: none;
}

.main-content .wrapper:nth-child(2) {

    background-color: #F5F6F7;
    height: 504px;
}

.main-content .wrapper:nth-child(3) {

    height: 842px;
}

.main-content .wrapper:nth-child(4) {

    height: 598px;
    background-image: url("../images/form-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.main-content .wrapper:nth-child(5) {

    height: 468px;
    background-color:#F5F6F7;
}

h2 {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

p {
    font-size: 14px;
    line-height: 20px;
    color: #4E4E4E;

}

.main-nav ul {
    width: 582px;
    margin-left: 508px;
    padding-top: 25px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    
}

.main-nav ul a {
    color: #ffffff;
    text-decoration: none;
}

.main-nav ul a:hover, 
.main-nav ul a:focus,
.promo .socials a:active {
    border-bottom: 1px solid #ffffff;
}

.promo p {
    color: #ffffff;
}

.promo .about{
    margin-top: 156px;
}

.promo p:first-child {
    font-size: 64px;
    font-weight: 700;
    line-height: 75px;
    letter-spacing: 4.5px;
    text-align: center;
    text-transform: uppercase;
}

.promo p:nth-child(2) {
    width: 504px;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    margin: 0 auto;
    margin-top: 23px;
}

.button {
    display: block;
    width: 184px;
    height: 46px;
    background-color:#00AFDB;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    padding: 15px 47px;
    margin: 0 auto;
    margin-top: 28px;

}

a.button:hover {
    background-color: #009CC2;
}



.promo .socials {
    width: 170px;
    height: 20px;
    margin: 0 auto;
    margin-top: 183px;
    display: flex;
    justify-content: space-between;
}

.promo .socials a:hover, .promo .socials a:focus {
    
    opacity: 0.5;
}

.smart-design .left-column {
    width: 407px;
    height: 233px;
}

.smart-design {
    display: flex;
    justify-content: space-between;
    margin-left: 268px;
    margin-top: 120px;
    margin-right: 270px;
    align-items: center;
}

.smart-design p {
    margin-top: 20px;
    line-height: 20px;
}

.smart-design .button {
    margin-left: 0;
}

.community {
    margin-left: 269px;
    display: flex;
    width: 1331px;
    height: 280px;
    justify-content: space-between;
    margin-top: -25px;
}

.community .left-column {
    width: 298px;
    height: 175px;
    text-align: center;
    margin-top: 157px;
}

.community h2 {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.4px;
    color: #373737;
    margin-top: 17px;
    margin-bottom: 10px;
}

.community .slider-container {
    margin-top: 83px;
}

.community .pagination {
   margin-left: 543px;
    display: flex;
    width: 79px;
    height: 20px;
    justify-content: space-between;
    align-items: center;
}

.community .pagination p {
    font-size: 18px;
    font-weight: normal;
}

.community .slider {
    width: 894px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    overflow: hidden;
}

.community .slider .slide-item {
    margin-left: 30px;
}
.community .slider .slide-item:first-of-type {
    margin-left: 0;
}

.right-code {
    margin-left: 269px;
    margin-right: 378px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right-code .left-column {
    margin-top: 123px;
}

.right-code .right-column {
    width: 407px;
    height: 184px;
    margin-top: 118px;
}

.right-code .right-column p {
    margin-top: 20px;
    margin-bottom: 30px;
}

.right-code .right-column .button {
    margin-left: 0;
}

.subscription {
    width: 406px;
    margin: 0 auto;
    z-index: 10;
}

.subscription div p {
    font-size: 24px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 32px;
    padding-top: 225px;
}

.subscription form {
    display: flex;
    align-items: center;
}

.subscription input {
    padding: 16px 156px 13px 24px;
    border: none;
}

.subscription button {
    width: 66px;
    height: 46px;
    color: transparent;
    background-image: url(../images/submit-image.svg);
    background-repeat: no-repeat;
    background-position: cover;
    border: none;
}

.subscription button:hover {
    opacity: 0.9;
    cursor: pointer;
}


.download div {
    width: 483px;
    margin: 0 auto;
}

.download h2 {
    padding-top: 123px;
    text-align: center;
    margin-bottom: 20px;
}

.download p {
    text-align: center;
}

.download .download-buttons {
    display: flex;
    margin-left: 26px;
    margin-top: 2px;
    width: 428px;
    justify-content: space-between;
}

.download button {
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    border-radius: 0;
    padding: 0;
    white-space: nowrap;
    border: none;
    text-align: left;
    width: 188px;
    height: 50px;
    padding-left: 19px;
    padding-right: 80px;
    
}

.download button:hover {
    cursor: pointer;
}

.download button img {
    position: absolute;
    right: 0;
    top: 0;
    background-color: #009CC2;

}

.download button:hover > img {
    opacity: 0.6;
}


.main-footer {
    background-color: #000000;
}

.main-footer .wrapper {
    display: flex;
    justify-content: space-between;
    color: #ffffff;
    background: none;
    height: 184px;
    width: calc(1600px - 160px*2);
    margin: 0 auto;
    align-items: center;
}

.main-footer  ul {
    display: flex;
    justify-content: space-around;
    width: 236px;
    list-style-type: none;
}

.main-footer  ul li:not(:nth-child(3)) {
    padding-right: 20px;
    border-right: 1px solid #ffffff;
}

.main-footer  a {
    text-decoration: none;
    color: #ffffff;
    text-decoration: none;
    font-weight: normal;
    font-size: 14px;
}

.main-footer .copyright {
    color: #818181;
}

.main-footer .logo {
    margin-left: -50px;
}


strong {
    font-weight: bold !important;
}